.movie-details-container {
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-header {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-backdrop {
  width: 100%;
  border-radius: 30px;
  /*object-fit: cover;*/
  max-height: 420px;
}

.movie-header-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.movie-header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.tagline {
  font-size: 1.2rem;
  font-style: italic;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie-info {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.poster-img {
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.info h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #555;
}

.genres, .details, .info ul {
  list-style: none;
  padding: 0;
}

.genres li, .info li {
  margin: 5px 0;
}

.movie-links {
  margin-top: 20px;
  text-align: center;
}

.movie-links .btn {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #FF7F30;
  color: white;
}

.btn-secondary {
  background-color: #333;
  color: white;
}

.trailer-modal {
  display: block; /* Visible por defecto cuando showTrailer es true */
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.trailer-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 800px;
}

.trailer-content iframe {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: -40px;
  right: 0;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
