<div class="container mt-4 mb-4 p-4 rounded bg-light rounded-3">
    <h2>Favoritos</h2>
    <hr>
    <div class="row">
       
        <h5 class="fw-bold">Peliculas</h5>
        @if (peliculasFavoritas.length > 0;) {
            
            @for (peliculas of peliculasFavoritas; track peliculas.id) {
                <div class="col-2 mb-4">
                    <div class="tamCard card h-100 text-center colorFondo">
                        <img class="card-img-top small-img" [src]="peliculas.poster_path ? getPosterUrl(peliculas.poster_path) : 'default-image-url'" alt="Foto de la persona">
                        <div class="card-body">
                            <h5 class="card-title  text-start">{{peliculas.title}}</h5>
                            <button (click)="eliminarPeliculaDeFavoritos(peliculas)" class="m-3 btn btn-danger"><i class="bi bi-x-circle"></i></button>
                        </div>
                    </div>
                </div>
            }
        }@else {
            <h5 class="alert alert-danger">No hay series favoritas</h5>
        }
      
    </div>
</div>





