
<div class="container mt-4 mb-4 p-4 rounded bg-light rounded-3">
    <div class="d-flex mb-3">
        <button [routerLink]="['/seriesFavorites']" mat-button class="botonDisabled rounded-5 text-light px-4 me-5" >Series</button>
        <button mat-button class="boton px-4 text-light ms-3">Peliculas</button>
    </div>
    <h2>Favoritos</h2>
    <hr>
    <div class="row">
        <h5 class="fw-bold">Peliculas</h5>
        @if (peliculasFavoritas.length > 0;) {
            @for (peliculas of peliculasFavoritas; track peliculas.id) {
            <div class="col-2 mb-4">
                <div class="tamCard card h-100 text-center colorFondo">
                    <a [href]="'/movie/' + peliculas.id ">
                        <img class="card-img-top"
                            [src]="getPosterUrl(peliculas.poster_path)"
                            alt="Foto de la persona">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title  text-start">{{peliculas.title}}</h5>
                        <button (click)="eliminarPeliculaDeFavoritos(peliculas)"
                            class="m-3 btn btn-danger"><i
                                class="bi bi-x-circle"></i></button>
                    </div>
                </div>
            </div>
            }
        }@else {
            <h5 class="alert alert-danger">No hay Peliculas favoritas</h5>
        }

    </div>
</div>
