<div class="row w-75 mx-auto">
    <div class="container mt-4 me-5">
        <div class="d-flex">
            <button [routerLink]="['/seriesRated']" mat-button class="botonDisabled rounded-5 text-light px-4 me-5" >Series</button>
            <button mat-button class="boton px-4 text-light ms-3">Peliculas</button>
        </div>
        <h2 class="mt-4 text-white">Pelicula Valoradas</h2>
        <div class="row mt-3">
            @for(pelicula of peliculasValoradas; track peliculasValoradas.indexOf(pelicula)) {
            <div class="col-sm-6 col-md-4 col-lg-2 mb-4 shadow">
                <div class="card h-100 text-center colorFondo">
                    <a [href]="'pelicula/'+pelicula.id">
                        <img class="card-img-top"
                            [src]="pelicula?.poster_path ? (pelicula!.poster_path! | poster) : 'assets/img/ImagenNoEncontrada.jpg'"
                            alt="{{pelicula?.original_title}}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title fw-bold text-start fw-bolder">{{pelicula.original_title}}</h5>
                        <p class="text-start">{{pelicula.release_date | date:'dd/MM/yyyy'}}</p>
                        <p>{{(pelicula.vote_average/2).toFixed(2)}}</p>
                        <ngb-rating class="fs-5" [readonly]="true" [rate]="pelicula.vote_average / 2" [max]="5"
                            [ngClass]="getColorEstrellas(pelicula.vote_average / 2)"></ngb-rating>
                        <p class="text-muted ms-1">({{pelicula.vote_count}} Votos)</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>