<div class="container mt-4 mb-4 p-4 rounded bg-light rounded-3">
    <h2>Favoritos</h2>
    <div class="row">
        <h5>Series</h5>
        @for (serie of seriesFavoritas; track serie.id) {
            <div class="col-2 mb-4">
                <div class="tamCard card h-100 text-center colorFondo">
                    <img class="card-img-top small-img" [src]="serie.poster_path ? getPosterUrl(serie.poster_path) : 'default-image-url'" alt="Foto de la persona">
                    <div class="card-body">
                        <h5 class="card-title  text-start">{{serie.name}}</h5>
                        <button (click)="eliminarSerieDeFavoritos(serie)" class="m-3 btn btn-danger"><i class="bi bi-x-circle"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="row">
        <h5>Películas</h5>
        @for (pelicula of peliculasFavoritas; track pelicula.id) {
            <div class="col-2 mb-4">
                <div class="tamCard card h-100 text-center colorFondo">
                    <img class="card-img-top small-img" [src]="pelicula.poster_path ? getPosterUrl(pelicula.poster_path) : 'default-image-url'" alt="Foto de la persona">
                    <div class="card-body">
                        <h5 class="card-title  text-start">{{pelicula.title}}</h5>
                        <button (click)="eliminarPeliculaDeFavoritos(pelicula)" class="m-3 btn btn-danger"><i class="bi bi-x-circle"></i></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





