
<div class="container-fluid fondo">
    <div class="row">
    <div class="col-4 ">
        <img class="card-img-top tamImagenSola"
        [src]="getposterPath(personaDetalle?.profile_path || '')" alt="Foto de la persona">
        <h4>Informacion Personal:</h4>
        <p>{{personaDetalle?.known_for_department}}</p>
        <h4>Creditos conocidos</h4>
        <p>{{totalCreditos}}</p>        
        <h4>Fecha de nacimiento</h4>
        <p>{{personaDetalle?.birthday}} ({{personaDetalle!.birthday | edadActor}} Años)</p>
        <h4>Lugar de nacimiento</h4>
        <p>{{personaDetalle?.place_of_birth}}</p>
        <h3>Informacion Personal:</h3>
        <p>{{personaDetalle?.also_known_as?.slice(0, 1)}}</p>
    </div> <!-- div izquierda -->
    <div class="col-8"> <!-- div derecha -->
        <div class="w-100">
            <h2>{{personaDetalle?.name}}</h2>
            <h5>Biografía</h5>
            <p>{{personaDetalle?.biography}}</p>
        </div>
        <div>
            <h5>Conocido por</h5>
       
        <div class="d-flex">
           @for (peliculas of ListaPeliculas.slice(0,4) ; track $index) {
            <div class="card tamCard rounded-3 m-2 shadow">
                <img class="card-img-top rounded-3" [src]="getposterPath(peliculas.poster_path || '')" alt="Foto de la pelicula">
                <div class="card-body">
                    <p class="text-center">{{peliculas.title}} <br></p>
                </div>
            </div>
           }
            </div>
         </div>
         <div>
            <h5>Interpretación</h5>
            <ul>
                @for (peliculas of ListaPeliculas.slice(0,4); track $index) {
                    <li class="">{{peliculas.title}}  ({{peliculas.release_date | date:'YYYY'}})</li>
                }
            </ul>
           
         </div>
    </div>
    </div>
</div>
