.boton, .botonDisabled:hover{
   background-color: #FF7F30;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.botonDisabled{
    background-color: transparent;   
    border: solid 1px #adadad;
    border-radius: 30px;
    cursor: pointer;
}